
html {
  background-image: url("https://wallpaperaccess.com/full/3950406.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
img{
  height: 300px;
  width: 300px;
}

ul{
  /* border: solid white; */
  list-style-type: none;
  text-align: center;
}
#li-index{
  /* border: 2px solid white; */
  background-color: rgb(192,192,192, .3);
}
#ul-index{
  /* border: solid white; */
  margin-right: 2%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 600px 600px 600px;
  grid-template-rows: 600px 600px 600px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
#index-title{
  text-align: center;
  font-size: 100px;
  border: solid rgb(122, 14, 10);
  width: 500px;
  margin: auto;
  border-radius: 5px 20px 5px;
  background-color: rgb(92, 71, 137, .3);

}
#addBtn{
  margin-top: 30px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn{
  border: solid white;
  background: rgb(92, 71, 137, .6);
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  float: left;
}
.anchor{
  text-decoration: none;
  color: white;
}
.selectBtn{
  margin-left: 205px;
}
